.header{
    color: #F7B2B7;
    line-height: 3.5;
    font-size: 1.2 rem;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.titles{
    display: flex;
    justify-content: space-between;
}

li{
   list-style: none;
}

li>a{
    padding: 10px 35px;
    text-decoration: none;
    color: #F7B2B7;
}

a:hover{
    color: #F7717D;
    border: #F7717D solid 1px;
}